// Copyright (c) 2018 Tildes contributors <code@tildes.net>
// SPDX-License-Identifier: AGPL-3.0-or-later

.post-listing {
  h2 {
    font-size: 0.6rem;
  }

  & > li {
    margin-bottom: 1rem;
  }

  .is-topic-mine, .is-topic-official {
    margin-left: -1px;
  }
}

.post-listing-notifications {
  h2 {
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin-bottom: 0;
  }

  h2 + article {
    margin-top: 0.4rem;
  }

  .btn-link-minimal {
    margin-left: 0.4rem;
  }
}
